.logo {
    width: 7.5rem;
    height: 3rem;
}
.app-container {
    display: flex;
    justify-content: space-between;
    padding: 2.8rem;
}

/* Tamaño: 985px */

@media (max-width: 985px) {
    .app-container {
        flex-direction: column;
        align-items: center;
        padding: 2.1rem;
        gap: 1rem;
    }
}

/* Tamaño: 577px */

@media (max-width: 577px) {}